/* Stylesheet by Ryan Lanclos, 2018 UWisc Geog575 */

body {
    background-color: #1c2433;
    font-family: Arial, Helvetica, sans-serif;
    color: #cccccc;
    padding-top: 60px;
    overflow: hidden;
}

html{
    overflow: scroll;
    -webkit-overflow-scrolling: touch;
}

.navbar{
    background-color: steelblue;
    color: white;
}

.container-fluid, .row{
    background-color: #f5f5f5;
}

.modal {

    -webkit-overflow-scrolling: auto !important;
    overflow-y: auto !important;
}

.modal-body{
    -webkit-overflow-scrolling: auto !important;
    overflow: hidden;
}

.modal iframe{
    height: 100%;
    width: 100%;
    border: 0;
    z-index: 300;
}

.modal-footer {
    background-color: #333333;
}